/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

/* End reset */
/* Variables */
/* General Styles */
body {
    font-family: "Open Sans", sans-serif;
    padding: 20px;
}

section {
    text-align: center;
}

p {
    font-weight: 400;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    transition: color 0.5s ease;
    color: #222;
}

a:hover {
    cursor: pointer;
    color: #3fb0ac !important;
}

a:visited {
    color: #173e43;
}

/* Section Styles */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000;
}

.wrapper {
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    height: 40px;
    padding: 0 24px;
    background-color: #fff;
}

nav a {
    font-size: 16px;
    font-weight: bold;
}

.hero-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: calc(100vh - 40px);
    position: relative;
    background-color: #fff;
}

.hero-container .hero-titles {
    padding: 30px 0;
    border-top: 3px solid #3fb0ac;
    border-bottom: 3px solid #3fb0ac;
    font-weight: 300;
    color: #222;
}

.hero-container .hero-titles h2 {
    font-family: "Open Sans", sans-serif;
    margin-bottom: 20px;
    font-size: 20px;
}

.hero-container .hero-titles h1 {
    font-size: 30px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 5px;
}

.hero-container i {
    width: 50px;
    margin: 0 auto;
    position: absolute;
    bottom: calc(25% - 25px);
    left: 0;
    right: 0;
    font-size: 50px;
    transition: color 1s ease;
    color: #222;
}

.hero-container i:hover {
    cursor: pointer;
    color: #3fb0ac;
}

.hero-container:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 30%;
    height: 2px;
    margin: 0 auto;
    background-color: #dddfd4;
}

main {
    flex: 1;
    width: 100%;
    max-width: 1140px;
    margin: 0 auto;
    padding: 40px 0;
    background-color: #fff;
    box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, 0.7);
}

main section {
    background-color: #fff;
}

main section .section-title {
    margin-bottom: 40px;
    font-weight: 600;
    font-size: 26px;
}

.professional {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.professional > section {
    width: 30%;
    padding: 20px;
    border: 2px solid #dddfd4;
}

.photos {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
}

.photos .photo-frame {
    width: 30%;
    border: 20px solid #dddfd4;
    box-shadow: 0px 17px 27px 2px rgba(187, 187, 187, 0.7);
    overflow: hidden;
}

.photos .photo-frame:first-of-type .photo {
    background-image: url("../images/stefan-3.jpg");
}

.photos .photo-frame:nth-of-type(2) .photo {
    background-image: url("../images/stefan-4.jpg");
}

.photos .photo-frame:last-of-type .photo {
    background-image: url("../images/stefan-5.jpg");
}

.photos .photo-frame .photo {
    width: 100%;
    background-color: #000;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    transition: all 1s ease;
}

.photos .photo-frame .photo:hover {
    transform: scale(1.05);
    backface-visibility: hidden;
}

.bio {
    max-width: 500px;
    margin: 0 auto 60px auto;
    text-align: center;
}

.bio p {
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    text-align: center;
}

.skills ul li {
    margin: 10px 0 10px 0;
    padding: 16px;
    font-weight: 700;
    border: 1px solid #3fb0ac;
    border-radius: 2px;
    color: #3fb0ac;
    transition: all 0.5s ease;
}

.skills ul li:nth-of-type(odd) {
    background-color: #3fb0ac;
    color: #fff;
}

.work h2 {
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 500;
    text-align: left;
}

.work ul {
    margin-bottom: 20px;
    text-align: left;
}

.work ul li {
    margin-bottom: 3px;
    padding-left: 10px;
}

.network .network-logos {
    width: 100%;
}

.network .network-logos > a {
    display: block;
    width: 100%;
    height: 80px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #173e43;
    transition: all 0.5s ease;
    background-color: #fff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.network .network-logos > a:hover {
    transform: scale(1.05);
    backface-visibility: hidden;
}

.network .network-logos > a.stack {
    background-image: url("../images/so-logo.png");
}

.network .network-logos > a.github {
    background-image: url("../images/github-logo.png");
}

.network .network-logos > a.codepen {
    background-image: url("../images/codepen-logo.png");
}

.network .network-logos > a.linkedin {
    background-image: url("../images/linkedin-logo.png");
}

.contact form {
    display: flex;
    justify-content: center;
}

.contact form fieldset {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 500px;
    border: 1px solid red;
}

.contact form fieldset input {
    width: 100%;
    padding: 20px;
}

.contact form fieldset textarea {
    width: 100%;
}

.parallax {
    height: 120vh;
    width: 100%;
}

.parallax .parallax-image {
    width: 100%;
    height: 120vh;
    background-image: url("../images/stefan.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

footer {
    height: 80px;
    text-align: center;
    font-size: 12px;
    color: #fff;
    background-color: #000;
}

footer p {
    margin: 0;
    line-height: 80px;
}

/* Media Queries */
@media screen and (max-width: 900px) {
    .professional {
        flex-direction: column;
    }
    .professional > section {
        width: 100%;
    }
    .professional > section:not(:last-of-type) {
        border-bottom: none;
    }
    .work h2 {
        text-align: center;
    }
    .work ul {
        text-align: center;
    }
}

@media screen and (max-width: 700px) {
    .photos .photo-frame {
        border: 10px solid #dddfd4;
    }
}
