/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}
/* End reset */

/* Variables */
$color-1: #222; //dark
$color-2: #c9c9c9; // dark gray
$color-4: #89bdd3; //dark blue
$font-1: 'Open Sans', sans-serif;

/* General Styles */
body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	padding: 20px 20px 0 20px;
    font-family: $font-1;
	color: $color-1;
	background-color: #000;
}

section {
	text-align: center;
}

p {
	font-weight: 400;
    margin-bottom: 12px;
}

a {
    text-decoration: none;
    transition: color 0.4s ease;
	color: $color-1;
	&:hover {
		cursor: pointer;
		color: $color-4 !important;
	}
}

/* Section Styles */
.wrapper {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 40px;
	padding: 0 24px;
	background-color: #fff;
	a {
		font-size: 16px;
		font-weight: bold;
	}
}

.hero-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: calc(100vh - 40px);
	position: relative;
	background-color: #fff;

	.hero-titles {
		padding: 30px 0;
		position: relative;
		top: -20px;
		border-top: 3px solid $color-4;
		border-bottom: 3px solid $color-4;
		font-weight: 300;
		color: $color-1;

		h2 {
			font-family: $font-1;
			margin-bottom: 20px;
			font-size: 24px;
		}

		h1 {
			font-size: 36px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 5px;
		}
	}

	i {
		width: 50px;
		margin: 0 auto;
		position: absolute;
		bottom: 15%;
		bottom: calc(15% - 25px); left: 0; right: 0;
		font-size: 50px;
		transition: color 0.5s ease;
		color: $color-1;

		&:hover {
			cursor: pointer;
			color: $color-4;
		}
	}
}

main {
	flex: 1;
	width: 100%;
    max-width: 1140px;
    margin: 0 auto;
	padding: 40px 20px;
	background-color: #fff;
	box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, .7);

	> section {
		background-color: #fff;
		.section-title {
			margin-bottom: 40px;
			font-size: 30px;
			font-weight: 600;
		}

		.prof-section-title {
			display: inline-block;
			position: relative;
			padding: 0 10px 10px;
			margin-bottom: 20px;
			font-size: 28px;
			font-weight: 600;
			border-bottom: 2px solid $color-4;
		}
	}
}

.photos {
	display: flex;
	justify-content: space-around;
	margin-bottom: 60px;

	.photo-frame {
		width: 27%;
		border: 10px solid whitesmoke;
		box-shadow: 0px 0px 4px 2px $color-2;
		overflow: hidden;
		&:first-of-type .photo {
			background-image: url('../images/stefan-1.jpg');
		}
		&:nth-of-type(2) .photo {
			background-image: url('../images/stefan-2.jpg');
		}
		&:last-of-type .photo {
			background-image: url('../images/stefan-3.jpg');
		}
		.photo {
			height: 100%;
			background-color: whitesmoke;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			transition: all 0.4s ease;
			z-index: 1;
			position: relative;
			&:hover {
				transform: scale(1.1);
			}
		}
	}
}

.bio {
	max-width: 550px;
	margin: 0 auto 60px auto;
	text-align: center;

	p {
		font-size: 18px;
		font-weight: 400;
		line-height: 22px;
		letter-spacing: 0.5px;
		text-align: center;
	}
}

.professional {
	display: flex;
	justify-content: space-between;
	margin-bottom: 60px;

	& > section {
		width: 31%;
		padding: 20px;
		border: 2px solid $color-4;
	}
}

.skills {
	ul {
		li {
			max-width: 300px;
			margin: 10px 0 10px 0;
			padding: 16px;
			font-weight: 700;
			color: #fff;
			background-color: $color-4;
			transition: all 0.4s ease;
		}
	}
}

.work {

	.resume {
		display: flex;
		margin-bottom: 20px;

		i {
			transition: all 0.4s ease;
		}

		h2 {
			margin-left: 4px;
			font-size: 24px;
			font-weight: 500;
			text-align: left;
			transition: all 0.4s ease;
		}

		&:hover {
			cursor: pointer;
			i, h2 {
				color: $color-4;
			}
		}		
	}

	.work-folder {
		display: flex;

		i {
			transition: all 0.4s ease;
		}

		h2 {
			margin-left: 4px;
			font-size: 24px;
			font-weight: 500;
			text-align: left;
			transition: all 0.4s ease;
		}

		&:hover {
			cursor: pointer;
			i, h2 {
				color: $color-4;
			}
		}
	}

	ul {
		height: 0;
		margin-bottom: 20px;
		margin-left: 11px;
		position: relative;
		text-align: left;
		overflow: hidden;
		transition: all 0.4s ease;

		&.expand {
			height: auto;
		}

		&:before {
			content: '';
			display: block;
			width: 2px;
			height: 100%;
			position: absolute;
			left: 0px;
			top: -4px;
			background-color: $color-2;
		}

		li {
			margin-bottom: 6px;
			padding-left: 34px;
			position: relative;

			&:first-of-type {
				padding-top: 10px;
			}

			a {
				position: relative;
				top: 4px;
				line-height: 20px;
				font-weight: 400;
				transition: all 0.4s ease;

				&:before {
					content: '';
					display: block;
					width: 25px;
					height: 2px;
					position: absolute;
					left: -32px;
					top: 11px;
					background-color: $color-2;
				}
			}
		}
	}
}

.network {
	.network-logos {
		width: 100%;
		> a {
			display: block;
			width: 100%;
			height: 80px;
			margin-bottom: 10px;
			padding: 5px;
			border: 1px solid $color-4;
			transition: all 0.4s ease;
			background-color: #fff;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;

			&:hover {
				transform: scale(1.05);
			}

			&.stack {
				background-image: url('../images/so-logo.png');
			}

			&.github {
				background-image: url('../images/github-logo.png');
			}

			&.codepen {
				background-image: url('../images/codepen-logo.png');
			}

			&.linkedin {
				background-image: url('../images/linkedin-logo.png');
			}
		}
	}
}


.contact {
	padding: 0px 0px 20px 0px;

	> p {
		margin-bottom: 20px;
	}
	.email-link {
		display: block;
		margin-bottom: 20px;
	}
	form {
		display: flex;
		justify-content: center;
		fieldset {
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 500px;

			input, textarea {
				width: 100%;
				max-width: 500px;
				max-height: 400px;
				margin-bottom: 10px;
				padding: 15px;
				border: 1px solid $color-4;
				font-family: $font-1;
				font-size: 18px;
				color: $color-4;
				transition: all 0.4s linear;

				&:focus {
					color: #fff;
					background-color: $color-4;
					&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
					  color: #fff;
					}
					&::-moz-placeholder { /* Firefox 19+ */
					  color: #fff;
					}
					&:-ms-input-placeholder { /* IE 10+ */
					  color: #fff;
					}
					&:-moz-placeholder { /* Firefox 18- */
					  color: #fff;
					}
				}

				&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
				  color: $color-2;
				}
				&::-moz-placeholder { /* Firefox 19+ */
				  color: $color-2;
				}
				&:-ms-input-placeholder { /* IE 10+ */
				  color: $color-2;
				}
				&:-moz-placeholder { /* Firefox 18- */
				  color: $color-2;
				}
			}

			button {
				width: 100%;
				max-width: 320px;
				margin: 0 auto;
				padding: 15px;
				font-size: 20px;
				font-weight: 500;
				letter-spacing: 2px;
				text-transform: uppercase;
				color: $color-4;
				border: 1px solid $color-4;
				background-color: #fff;
				transition: all 0.4s ease;

				&:hover {
					cursor: pointer;
					background-color: $color-4;
					color: #fff;
				}
			}
		}
	}
}

.parallax {
	.parallax-image {
		width: 100%;
		height: 100vh;
		background-image: url('../images/stefan.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
}

footer {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 80px;
	text-align: center;
	font-size: 12px;
	color: $color-4;
	background-color: #000;

	p {
		margin: 0;
	}
}

/* Media Queries */

@media screen and (max-width: 800px) {
	.photos .photo-frame {
		width: 80%;
		max-width: 330px;

		&:not(:first-of-type) {
			display: none;
		}
	}
}

@media screen and (max-width: 768px) {
	body {
		padding: 10px 10px 0 10px
	}

	main {
		padding: 20px 10px;
	}

	.photos {
		margin-bottom: 40px;
	}

	.photos .photo-frame {
		border: 10px solid whitesmoke;
	}

	.bio {
		margin: 0 auto 40px auto;

		p {
			font-size: 16px;
		}
	}

	.professional {
		flex-direction: column;
		margin-bottom: 40px;
	}

	.professional > section {
		width: 100%;

		&:not(:last-of-type) {
			margin-bottom: 20px;
		}
	}

	.skills {
		ul {
			li {
				margin: 0 auto 10px auto;
			}
		}
	}

	.network {
		.network-logos a {
			max-width: 300px;
			margin: 0 auto 10px auto;
		}
	}

	.parallax .parallax-image {
		background-attachment: scroll;
	}
}

@media screen and (max-width: 500px) {
	.hero-container .hero-titles {
		h2 {
			font-size: 20px;
			margin-bottom: 10px;
		}
		h1 {
			font-size: 30px;
			letter-spacing: 1px;
			line-height: 34px;
		}
	}
}

