/* CSS Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
* {
    box-sizing: border-box;
}
/* End reset */

/* Variables */

$color-1: #222; //dark
$color-2: #dddfd4;//light

$color-3: #173e43; //dark green
$color-4: #3fb0ac; //light green

$color-5: #fae596; // yellow






$font-1: 'Open Sans', sans-serif;

/* General Styles */
body {
    font-family: $font-1;
	padding: 20px;
}

section {
	text-align: center;
}

p {
	font-weight: 400;
    margin-bottom: 10px;
}

h1, h2, h3 {
}

a {
    text-decoration: none;
    transition: color 0.5s ease;
	color: $color-1;
	&:hover {
		cursor: pointer;
		color: $color-4 !important;
	}

	&:visited {
		color: $color-3;
	}
}

/* Section Styles */

body {
	display: flex;
	flex-direction: column;
	min-height: 100vh;
	background-color: #000;
}

.wrapper {
	width: 100%;
	max-width: 1140px;
	margin: 0 auto;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	height: 40px;
	padding: 0 24px;
	background-color: #fff;
	a {
		font-size: 16px;
		font-weight: bold;
	}
}

.hero-container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	width: 100%;
	height: calc(100vh - 40px);
	position: relative;
	background-color: #fff;

	.hero-titles {
		padding: 30px 0;
		border-top: 3px solid $color-4;
		border-bottom: 3px solid $color-4;
		font-weight: 300;
		color: $color-1;

		h2 {
			font-family: $font-1;
			margin-bottom: 20px;
			font-size: 20px;
		}

		h1 {
			font-size: 30px;
			font-weight: 600;
			text-transform: uppercase;
			letter-spacing: 5px;
		}
	}

	i {
		width: 50px;
		margin: 0 auto;
		position: absolute;
		bottom: calc(25% - 25px); left: 0; right: 0;
		font-size: 50px;
		transition: color 1s ease;
		color: $color-1;

		&:hover {
			cursor: pointer;
			color: $color-4;
		}
	}

	&:after {
		content: '';
		position: absolute;
		bottom: 0;
		left: 0;
		right: 0;
		width: 30%;
		height: 2px;
		margin: 0 auto;
		background-color: $color-2;
	}
}

main {
	flex: 1;
	width: 100%;
    max-width: 1140px;
    margin: 0 auto;
	padding: 40px 0;
	background-color: #fff;
	box-shadow: 0px 10px 10px -5px rgba(0, 0, 0, .7);

	section {
		background-color: #fff;
		.section-title {
			margin-bottom: 40px;
			font-weight: 600;
			font-size: 26px;
		}
	}
}

.professional {
	display: flex;
	justify-content: space-around;
	margin-bottom: 60px;

	& > section {
		width: 30%;
		padding: 20px;
		border: 2px solid $color-2;
	}
}

.photos {
	display: flex;
	justify-content: space-around;
	margin-bottom: 60px;

	.photo-frame {
		width: 30%;
		border: 20px solid $color-2;
		box-shadow: 0px 17px 27px 2px rgba(#BBB, 0.7);
		overflow: hidden;

		&:first-of-type .photo {
			background-image: url('../images/stefan-3.jpg');
		}

		&:nth-of-type(2) .photo {
			background-image: url('../images/stefan-4.jpg');
		}

		&:last-of-type .photo {
			background-image: url('../images/stefan-5.jpg');
		}

		.photo {
			width: 100%;
			background-color: #000;
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
			transition: all 1s ease;

			&:hover {
				transform: scale(1.05);
				backface-visibility: hidden;
			}
		}
	}
}

.bio {
	max-width: 500px;
	margin: 0 auto 60px auto;
	text-align: center;

	p {
		font-size: 18px;
		font-weight: 400;
		line-height: 22px;
		text-align: center;
	}
}



.skills {
	ul {
		li {
			margin: 10px 0 10px 0;
			padding: 16px;
			font-weight: 700;
			border: 1px solid $color-4;
			border-radius: 2px;
			color: $color-4;
			transition: all 0.5s ease;

			&:nth-of-type(odd) {
				background-color: $color-4;
				color: #fff;
			}

			&:hover {

			}
		}
	}
}

.work {

	h2 {
		margin-bottom: 5px;
		font-size: 20px;
		font-weight: 500;
		text-align: left;
	}

	ul {
		margin-bottom: 20px;
		text-align: left;

		li {
			margin-bottom: 3px;
			padding-left: 10px;

		}
	}
}

.network {
	.network-logos {
		width: 100%;
		> a {
			display: block;
			width: 100%;
			height: 80px;
			margin-bottom: 10px;
			padding: 5px;
			border: 1px solid $color-3;
			transition: all 0.5s ease;
			background-color: #fff;
			background-repeat: no-repeat;
			background-position: center;
			background-size: contain;

			&:hover {
				transform: scale(1.05);
				backface-visibility: hidden;
			}

			&.stack {
				background-image: url('../images/so-logo.png');
			}

			&.github {
				background-image: url('../images/github-logo.png');
			}

			&.codepen {
				background-image: url('../images/codepen-logo.png');
			}

			&.linkedin {
				background-image: url('../images/linkedin-logo.png');
			}
		}
	}
}

.contact {
	form {
		display: flex;
		justify-content: center;
		fieldset {
			display: flex;
			flex-direction: column;
			width: 100%;
			max-width: 500px;
			border: 1px solid red;

			input {
				width: 100%;
				padding: 20px;
			}

			textarea {
				width: 100%;
			}
		}
	}
}

.parallax {
	height: 120vh;
	width: 100%;

	.parallax-image {
		width: 100%;
		height: 120vh;
		background-image: url('../images/stefan.jpg');
		background-position: center;
		background-repeat: no-repeat;
		background-attachment: fixed;
	}
}

footer {
	height: 80px;
	text-align: center;
	font-size: 12px;
	color: #fff;
	background-color: #000;

	p {
		margin: 0;
		line-height: 80px;
	}
}

/* Media Queries */

@media screen and (max-width: 900px) {

	.professional {
		flex-direction: column;
	}

	.professional > section {
		width: 100%;

		&:not(:last-of-type) {
			border-bottom: none;
		}
	}

	.work {
		h2 {
			text-align: center;
		}
		ul {
			text-align: center;
		}
	}
}

@media screen and (max-width: 700px) {
	.photos .photo-frame {
		border: 10px solid $color-2;
	}
}
//
// @media screen and (max-width: 1024px) {
// 	.photos .photo-frame {
// 		width: 240px;
// 		height: 240px;
// 	}
// 	.skills, .work, .network, .interests, .cat-gallery {
// 		width: 240px;
// 	}
// 	.music iframe {
// 		width: 240px !important;
// 	}
// }
//
// @media screen and (max-width: 768px) {
// 	.photos {
// 		flex-wrap: wrap;
// 	}
//
// 	.photos .photo-frame {
// 		width: 180px;
// 		height: 180px;
// 		border: 10px solid whitesmoke;
// 	}
// }
